/*custome background*/
*
{
  margin: 0;
  padding: 0;
}
.card
{
  background-color: #426CDA ;
  border-radius: 200px 0px 200px 0px;
  -moz-border-radius: 200px 0px 200px 0px;
  -webkit-border-radius: 200px 0px 200px 0px;
  border: 0px solid #000000;
}

/*Home Page*/
#welcome
{
    text-align: center;
    padding-top: 20%;
    padding-right: 30%;
    padding-left: 30%;
    font-size: 38px;
    font-family: "Times New Roman";
    font-weight: bold;
    color : black;
    width: 100%;
}
.card-img-top
{
    width: 350px;
    height : 250px;
}
.cards
{
  margin-top: 10px;
  margin-bottom: 10px;
  display:inline-block ;
  background:#F8F8FF;
  width:100% ;
}
.container-cards
{
  margin-top: 6%;
}
.card-title
{
  margin-top: 5px;
  font-weight: bold;
}
#home-title
{
  text-align: center;
}
.recent
{
    margin-top: 60px;
}
.bg-home
{
  background-image: url(https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
hr
{
    margin-top: 50px;
    background-color: #1b1e21;
}
/*End Home Page*/

#margin-container
{
  margin-top: 10%;
  width: 80%;
}

/*custome navbar*/
#button
{
    background-color: #425fda;
    color: black;
}
.navbar
{
  top: 0;
  background-color:  #426CDA ;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
}

.nav-link , .navbar-brand
{
    color : #fffacc !important;
    font-size: 20px;
}
.navbar-brand:hover , .nav-link:hover
{
    color : black !important;
}
.navbar-nav , .navbar-nav > li
{
  display: inline-block;
}
.nav-link , .icons
{
  font-size: 18px;
}
/*End Custome navbar*/

/*Login page*/
.all-body
{
  margin-top: 5%;
  background-color: #F8F8FF ;
}

input,textarea,select
{
  border-radius: 50px !important;
    color: black !important;
}
/*End Login page*/


/*login and registre icon input*/
#email
{
  background:url(/img/user.png) ;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 2px;
  padding-left: 30px;
}
#password
{
  background:url(/img/password.png) ;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 6px;
  padding-left: 30px;
}
/*End login and registre icon input*/

/*Add Job Page*/
#description,#requirements
{
  height: 200px;
}

#add-job-container
{
  margin-top: 5%;
  margin-bottom: 2%;
  width: 100%;
}
/*End Add Job Page*/


/*details page*/
.detils-content
{
  width: 70%;
  margin-left: 10%;
}
.card-text-details
{
  font-size: 20px;
  font-family: serif;
}
.card-title-details
{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}
/*End details page*/

/*add job done page*/
.add-job-body
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*end add job done page */

/*admin master*/
.admin-body {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100vh;
    box-sizing:border-box;
    background:#F8F8FF;
}
.main_sidebar {
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    width:200px;
    background: #426CDA;
}
.main_sidebar ul {
    list-style:none;
    padding-left:8px;
}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li:hover {
    background:#3495e3;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.admin-content
{
    width: 86%;
    height: 100vh;
    margin-left: 205px;
}
/*end admin master*/

/*admin home*/
.admin-home-card
{
    margin-top: 10%;
    margin-left: 10%;
}
.admin-card
{
    border: 1px solid #1d68a7;
    text-align: center;
    vertical-align: middle;
    height: 200%;
}
/*end admin home*/

/*Admin Views*/
.details
{
    margin-top: 1%;
    text-align: center;
}
.btn-c
{
    background: none;
    border: none;
}
/*end admin Views*/
/*From laravel not From me*/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
/*End From laravel no From me*/
